source https://api.nuget.org/v3/index.json
framework: net5.0
storage: none

nuget Dapper
nuget Fable.Remoting.Giraffe >= 4.9
nuget Giraffe.SerilogExtensions
nuget Saturn
nuget Expecto

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.FontAwesome.Free
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client
nuget Fulma
nuget Serilog.Sinks.Console
nuget System.Data.SQLite

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core = 4.7.0.0
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Farmer