@import "~bulma/bulma.sass";
$tooltip-font-size: $size-6;
@import "~@creativebulma/bulma-tooltip/src/sass/index.sass";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "spinner.scss";
@import "~bulma-quickview";
@import "~jquery-ui-dist/jquery-ui.min.css";

html {
    font-size: 14px;
}

// Override a few bulma-tooltip styles
.concordance-table {
    span[data-tooltip] {
        border-bottom: none;
        cursor: auto;
    }

    td.left-context {
        width: 50%;
        text-align: right;
        vertical-align: middle;
      }

      td.right-context {
        width: 50%;
        vertical-align: middle;
      }

      td.aligned-text {
        font-style: italic;

        span.aligned-id {
          color: #999;
        }
      }

      td.match {
        font-weight: bold;
        vertical-align: middle;
      }
}

.interval-category-table td {
    padding: 5px;
}

.metadata-choice {
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.metadata-choice-cross {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.metadata-menu-list-container {
    border: 1px solid #aaa;
    border-radius: 0 0 4px 4px;
    border-top-width: 0;
}

.metadata-menu-list-item:hover {
    background-color: #3298dc;
    color: white;
    cursor: pointer;
}

.metadata-menu-selection {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    cursor: text;
    display: inline-block;
    margin: 0;
    min-height: 32px;
    outline-width: 0;
    padding: 0 5px 5px 5px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}