@import "~bulma/bulma.sass";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

html {
    font-size: 14px;
}

.metadata-menu-list-item:hover {
    background-color: #3298dc;
    color: white;
    cursor: pointer;
}